<div>
  <div class="block-header">
    <p>社員データ一覧</p>
  </div>

  <div class="block-body">
    <ul>
      <!-- routing のためのリンク. routerLink に app.module.ts で定義したテーブル: ROUTE_TABLE に登録した path をセットする -->
     <button class="button" type="submit"><li><a routerLink="/create-employee">create-employee</a></li></button>
      <button class="button" type="submit"><li><a routerLink="/delete-employee">delete-employee</a></li></button>

    </ul>
  </div>
</div>

<table>
      <tr>
    <th>id</th>
    <th>name</th>
    <th>description</th>
  </tr>
　<ng-container *ngFor="let row of employees ; let i = index">
　　

　 　<tr>
  <td>{{row.employeeId}}</td>
  <td>{{row.name}}</td>
  <td>{{row.description}}</td>
    </tr>
　　
　</ng-container>
</table>


