<h3>新規作成画面</h3>

<div class="cart-item" *ngFor="let row of employees; let i = index">
  <span>{{ row.name }} </span>
  <span>{{ row.description | currency }}</span>
</div>

<a routerLink="/employee-list"><button class="button" type="submit">一覧画面</button></a>
<a routerLink="/delete-employee"><button class="button" type="submit">削除画面</button></a>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">



  <div>
    <label for="name">
      ・名前
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="description">
      ・特徴
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <button class="button" type="submit">作成</button>



</form>
