<div>
  <div class="block-header">
    <p>Routing によるページ切り替えの動作確認を行う</p>
  </div>

  <div class="block-body">
    <ul>
      <!-- routing のためのリンク. routerLink に app.module.ts で定義したテーブル: ROUTE_TABLE に登録した path をセットする -->
      <button class="button" type="submit"><li><a routerLink="/employee-list">employee-list</a></li></button>
      <button class="button" type="submit"><li><a routerLink="/create-employee">create-employee</a></li></button>

    </ul>
  </div>
</div>
<!--↑ここまでが,ページ繊維に関するコード-->
<p>delete-employee works!</p>

<h3>DeleteEmployee</h3>




<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="id">
      ID
    </label>
    <input id="id" type="text" formControlName="employeeId">
  </div>

  <button class="button" type="submit">Delete</button>

</form>
